.headerNavbar {
    box-shadow: 1px 0 5px rgba(0,0,0,0.5);
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    margin: 0 5px;
    padding: 0 5px;
    /* background-color: red; */
}


.cart {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.amount {
    background-color: red;
    margin-left: 3px;
    border-radius: 5px;
    padding: 5px;
}